*{
    margin: 0;
    padding: 0;
}

$colorfondo:#a8dadc;
$colorfondonavegador:#ffffff; 
$colorfondotitulo:#caf0f8;
$colorfondotexto1:#caf0f8;
$colorfonfotexto2:#e6ccb2;
$colorfondotexto3:#c9ada7;
$colorfondotexto4:#e0e1dd;
$colorfondoformulario:#80ffdb;
$colorfooter:#ffffff;


//mixin

@mixin flexdirectionrowspacebetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flexdirectionspacearound{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}