/*CODIGOS DE LA PAGINA LENGUA*/
@import "../utilities/base";

.lengua0 img {
    margin-left: 30%;
    .lengua0 h2 {
        text-align: center;
        margin-top: 2%;
        .lengua0 p {
            text-align: center;
            .contenedorLengua {
                background-color:$colorfondotitulo
            }
        }
    }
}


.Lengua1{
    @include flexdirectionrowspacebetween;
    text-align: center;
    background-color:$colorfondotexto4;
    padding: 10%;
    .Lengua1 img {
        width: 40%;
        height: 40%;
    }
}

.listaLengua1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.listaLengua3 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.language2 {
    @include flexdirectionrowspacebetween;
    margin-top: 250px;
    background-color: azure;
    padding: 10%;
    .language2 iframe {
        text-align: left;
        margin-right: 10%;
        justify-content: space-around;
        .language2 h2 {
            margin-top: 5%;
            margin-left: 7%;
            font-family: "Times New Roman", Times, serif;
        }
    }
}

.language3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
    background-color: blanchedalmond;
    padding: 5%;
    .language3 p {
        font-size: 200%;
        margin-right: 15%;
        font-family: "Times New Roman", Times, serif;
        .language3 img {
            height: 30%;
            width: 30%;
            margin-left: 10%;
            margin-right: 30px;    
        }
    }
}

.language4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
    background-color: #E2CEC8;
    padding: 10%;
    .language4 p {
        font-size: 200%;
        margin-left: 9%;
        font-family: "Times New Roman", Times, serif;
        padding: 3px;
        margin-left: 10%;
        text-shadow: 10px;
        .language4 img {
            margin-right: 10%;
        }
    }
}