/*DATOS DE LA PAGINA SOBRE NOSOTROS*/
.sobreNosotros2{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    background-color:$colorfondotexto1;
    .sobreNosotros2 p {
        background-color: none;
        margin-top: 5%;
        font-size: 150%;
        font-family: "Times New Roman", Times, serif;
        margin-bottom: 5%;
        .sobreNosotros2 img {
            margin-right: 30px;
            width: 300%;
        }
    }
}


.sobreNosotros3{
    @include flexdirectionspacearound;
    margin-top: 100px;
    margin-top: 15%;
    background-image: linear-gradient(to left,bisque, white );
    padding: 5%;
    .sobreNosotros3 img {
        width: 40%;
        border-radius: 4%;
        .sobreNosotros3 iframe {
            width: 30%;
            border-radius: 3%;
        }
    }
}

.sobreNosotros4 {
    @include flexdirectionrowspacebetween;
    margin-top: 7%;
    background-color: cornsilk;
    padding: 5%;
    .sobreNosotros4 img {
        width: 60%;
        height: 60%;
        border-radius: 20%;
        margin-left: 20%;
        .sobreNosotros4 p {
            text-align: center;
            padding: 5px;
            width: 50%;
            font-size: 150%;
            margin-left: 25%;
            font-family: "Times New Roman", Times, serif;
            .sobreNosotros4 h2 {
                text-align: center;
            }
        }
    }
}